.header{
    width: 100%;
    position: relative;
    img{
        width: 100%;
    }
    .text{
        width: 86%;
        height: .933333rem;
        position: absolute;
        bottom: 0;
        left: 7%;
        
        .p1{
            height: .293333rem;
            font-size: .293333rem;
            color: #fff;
            padding: 0;
            margin-bottom: .066667rem;
            background: none;
            text-align: left;
        }
        .p2{
            font-size: .173333rem;
            color: #fff;
            padding: 0;
        }
    }
}