.login{
    width: 100%;
    .header{
        width: 100%;
        position: relative;
        margin-bottom: .4rem;
        img{
            width: 100%;
        }
        .tohome{
            width: .425rem;
            height: .425rem;
            position: absolute;
            top: .265rem;
            left: .265rem;
            border-radius: 50%;
            background-color: #fff;
            z-index: 9;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon{
                font-size: .21rem;
            }
        }
    }
    .form{
        width: 80%;
        margin: 0 auto;
        .ant-input-affix-wrapper{
            height: .65rem;
            
        }
        .login-form-button{
            width: 100%;
            height: .73rem;
            background: linear-gradient(to right,#3dbcc6,#1890ff);
            font-size: .21rem;
            margin-top: .265rem;
        }
    }
    .tiao{
        width: 80%;
        margin: 0 auto;
        text-align: right;
        margin-top: .2rem;
        font-size: .18rem;
        span{
            color: #1890ff;
        }
    }
    .login-clause{
        width: 100%;
        position: absolute;
        bottom: .065rem;
        left: 0;
        display: flex;
        justify-content: center;
        font-size: .16rem;
    }
}
